<div class="container">
  <div class="row">
    <h1>Preguntas</h1>
    <p class="text-right">
      <%= link_to "Hacer una Pregunta" , new_question_path, class:"btn btn-primary" %>
    </p>
  </div>
  <% @question.each do |question| %>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h3><%= question.title %></h3>
    </div>
  </div>
  <% end %>
</div>
